body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 270px;
    background: #8bca84;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

#display {
    width: 92%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    border: none;
    outline: none;
    background: #eaeaea;
    border-radius: 5px;
}

#preview {
    text-align: right;
    color: #777;
    height: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #d9d9d9;
    transition: 0.2s;
}
button:hover{
    background: #99ef4d;
}
button:active{
    background: #b9f584;
}

button:active {
    transform: scale(0.95);
}

.operator {
    background: #f6ad40;
}
.operator:hover {
    background: #f59f1f;
    color: white;
}
.operator:active {
    background: #f3bd6d;
    color: white;
}

.equal {
    background: #3a96f2;
    color: white;
}
.equal:hover {
    background: #238bf4;
    color: white;
}
.equal:active {
    background: #5eaaf5;
    color: white;
}

.clear {
    background: #f24949;
    color: white;
}

.clear:hover{
    background: #f83333;
    color: white;
}
.clear:active{
    background: #f66363;
    color: white;
}
